fastapi
uvicorn
boto3
python-dotenv
python-multipart
redis
openai-whisper
translators
gTTS
pydub
celery[redis]
passlib[bcrypt]
python-jose[cryptography]
SQLAlchemy
noisereduce
sentry-sdk
aiortc
websockets
pytest
pytest-asyncio
httpx
